# dependencies
/node_modules
/.pnp
.pnp.js

/docs
/src/views/admin/PRUEBAlistado.ejs
/src/data/productsDataBase-BKP*.json
/src/data/productsDataBase.json
/src/data/*.*
/src/*/*/*BKP*.*
/src/*/*BKP*.*
/src/*/*/*/*BKP*.*
/public/*/*BKP*.*
/public/*/*/*BKP*.*
/public/css/PRUEBAlistado.css
/public/css/*BKP*.css
/public/*/*CARRITO*.*
prueba*.js
practicas.js
/src/*/*CARRITO*.*
/src/*/*/*CARRITO*.*
/src/*/*/*/*CARRITO*.*
/public/images/*.*
/public/images/*/*.*
/public/images/*/*/*.*

package*.json
