<!DOCTYPE html>
<html>

    <%- include ('../partials/head.ejs') %>
 
    <link rel="stylesheet" href="/css/carrito.css">
   

</head>

<body>

    <%- include ('../partials/header.ejs') %>
 
    <!-- Main -->
    <main>
       
        <div class="div-contenido-carrito">  

            <section class="products">
                <article>
                    <div class="product">
                        <img src="../images/tocadiscos/tocadiscos-10.jpg" alt="tocadiscos-10">
                        <p>Tocadiscos Vitrola antigua</p>
                        <button><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                    <h4 class="price">$6.000,00</h4>
                </article>

                <article>
                    <div class="product">
                        <img src="../images/vinilos/vinilo-4.jpg" alt="vinilo-4">
                        <p>Changes Two/ Bowie</p>
                        <button><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                    <h4 class="price">$3.500,00</h4>
                </article>

                <div class="subtotal">
                    <p>Subtotal (sin envío):</p>
                    <h3>$9.500,00</h3>
                </div>
            </section>

            <section class="shipping">
                <div class="free-shipping">
                    <button><i class="fa-solid fa-truck i-camion"></i></button>
                    <h6>Envío gratis</h6>
                    <p>superando los $15.000,00</p>
                </div>

                <form action="" method="">
                    <div class="shipping-cost">
                        <input type="number" name="postal-code" placeholder="Tu código postal">
                        <button type="submit">Calcular</button>
                    </div>
                </form>

                <div class="searh-postal-code">
                    <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">No sé mi código postal</a>
                </div>

                <div class="div-formas-pago">

                    <i class="fa-solid fa-credit-card i-tarjeta"></i>
                    <span><strong>6 cuotas sin interés</strong> de $1583.33</span>

                </div>

                <div class="total">
                    <h2>Total:</h2>
                    <h2>$9.500,00</h2>
                </div>

                <div  class="start-the-buy">
                    <button>Iniciar Compra</button>
                </div>

                <div class="more-products">
                    <a href="/">Ver más productos</a>
                </div>
            </section>
        </div>   
    </main>

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>
 
</body>

</html>