<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
       
    
        <script src="https://kit.fontawesome.com/0625f444d8.js" crossorigin="anonymous"></script>
    
        <link href="/css/colors.css", rel="stylesheet">
        <link href="/css/normalize.css", rel="stylesheet">
        <link href="/css/footer.css", rel="stylesheet">
    
        
        <title>Detalle del producto JOPO</title>
        <link rel="icon" href="/images/icono/favicon.ico">
    </head>
    <body>
       
        <footer>

            <div class="categorias">
    
                <h3>Categorías</h3>
    
                <ul>
    
                    <li><a href="#">Muebles</a></li>
                    <li><a href="#">Iluminación</a></li>
                    <li><a href='#'>Objeto</a></li>
                    <li><a href="#">Juegos</a></li>
                    <li><a href="#">Ropa</a></li>
    
                </ul>
    
            </div>
    
            <div class="contacto">
    
                <h3>Contacto</h3>
    
                <ul>
    
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <span>grupo4@gmail.com</span>
                    </li>
    
                    <li>
                        <i class="fa-brands fa-whatsapp"></i>
                        <span>11-1234-5678</span>
                    </li>
    
                    <li>
                         <i class="fa-solid fa-location-dot"></i>
                        <span>Nuestra calle 1234, 1111 CABA</span>
                    </li>
    
                </ul>
                
            </div>
            
            <div class="redes-sociales">
    
                <h3>Sigamos conectados</h3>
    
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook i-fb"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram i-ig"></i></a>
            </div>
    
        </footer>

    </body>
</html>