<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/f5adc79cf2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>
        <header>
            <div class="cabecera">
                <div class="bars-menu">
                <button><i class="fas fa-bars"></i></button>
                </div>

                <img src="./images/logo1.jpg" alt="Logo">
                 
                <div class="cart-shopping">
                <button><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </div>

            <div class="search-bar">
            <form>
                <input type="text" placeholder="¿Qué estás buscando?" class="input-header">
                <button class="form-buttom-header"><i class="fa-solid fa-magnifying-glass"></i></button>   
            </form>
            </div> 
        </header>
    </body>
    </html>