<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/f5adc79cf2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="bars-menu">
                <button><a href="/login"><i class="fas fa-bars"></i></a></button>
                </div>

                <img src="./images/logo/isologo.png" alt="Logo">
                 
                <div class="iconos">
                <button class="cart-shopping"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></button>
                <button class="icono-user"><a href="/login"><i class="fa-solid fa-circle-user"></i></a></button>
                </div>
            
        
            
            <div class="search-bar">
            <form>
                <input type="text" placeholder="¿Qué estás buscando?">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>   
            </form>
            </div> 
        </div>
            
             <nav class="nav-bar">
                <ul>
                    <li><a href="#">MUEBLES</a></li>
                    <li><a href="#">ILUMINACIÓN</a></li>
                    <li><a href='#'>OBJETO</a></li>
                    <li><a href="#">JUEGOS</a></li>
                    <li><a href="#">ROPA</a></li>
                </ul>
             </nav>
        </header>
    </body>
    </html>

    