<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/f5adc79cf2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
                <div class="menu">
                <button class="buttom-menu"><i class="fas fa-bars"></i></button>

                <span class="imagen">Aca va una imagen</span>
                
                <button class="buttom-carrito"><i class="fa-solid fa-cart-shopping"></i></button>
                </div>

            <div class="contenedor-cabeza">
            <form>
                <input type="text" placeholder="¿Qué estás buscando?">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>   
            </form>
            </div> 
        </header>
        <main>
            <div class="portada">
                <p>Portada</p>   
            </div>
            <div class="frase">
                <p>Frase o propuesta de valor</p>
            </div>
            <div class="carrusel">
                <div class="fotos">
                    <img src="#" alt="Imagen 1">
                    <img src="#" alt="Imagen 2">
                    <img src="#" alt="Imagen 3">
                </div>
    
                
                <div class="info-producto">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <p>Agregar al carrito</p>
                </div>
                <div class="punto">
                    
                </div>
                </div>
        </main>
        <footer>
            <div class="categorias">
            <h3>Categorías</h3>
            <li><a href="#">Muebles</a></li>
            <li><a href="#">Iluminación</a></li>
            <li><a href='#'>Objeto</a></li>
            <li><a href="#">Juegos</a></li>
            <li><a href="#">Ropa</a></li>
        </div>

        <div class="contacto">
        <h3>Contacto</h3>
        <div><i class="fa-solid fa-envelope"></i><span>grupo4@gmail.com</span></div>
        <div><i class="fa-brands fa-whatsapp"></i><span>11-1234-5678</span></div>
        <div><i class="fa-solid fa-location-dot"></i><span>Nuestra calle 1234, 1111 CABA</span></div>
            
        </div>
        
        <div class="redes-sociales">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        </div>

        </footer>

    </body>
</html>