<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://kit.fontawesome.com/f5adc79cf2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="header">

            <div class="bars-menu">

                <button><a href="#"><i class="fas fa-bars"></i></a></button>
                <!--MB-->

            </div>

            <img src="./images/logo/isologo.png" alt="Logo">

            <div class="iconos">

                <button class="cart-shopping">
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </button>

                <button class="icono-user">
                    <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
                </button>
            </div>

            <div class="search-bar">

                <form>

                    <input type="text" placeholder="¿Qué estás buscando?">

                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <nav class="nav-bar">

                <ul>
                    <li><a href="#">CAMARAS</a></li>
                    <li><a href="#">JUEGOS</a></li>
                    <li><a href='#'>RELOJES</a></li>
                    <li><a href="#">TELÉFONOS</a></li>
                    <li><a href="#">TOCADISCOS</a></li>
                    <li><a href="#">VINILOS</a></li>
                </ul>

            </nav>
        </div>
    </header>

    <main>
        <img src="./images/portada 1.jpg" alt="Portada" class="portada">

        <div class="text">
            Frase o propuesta de valor
        </div>
        <div class="destacados">
            <article>
                <img src="images/tocadiscos/tocadiscos-9.jpg" alt="tocadiscos-9">
                <div class="product-description">
                    <p class="product-name">Tocadiscos Rojo</p>
                    <p class="price">$6.000</p>
                    <button>Agregar al carrito</button>
                </div>
            </article>
            <article>
                <img src="images/telefonos/telefono-2.jpg" alt="telefono-2">
                <div class="product-description">
                    <p class="product-name">Teléfono Verde</p>
                    <p class="price">$6.000</p>
                    <button a href="#">Agregar al carrito</button>
                </div>
            </article>
        </div>

        <div class="categorias">
            <article>
                <img src="images/camaras/camara-1.jpg" alt="camara-1">
                <p class="nombre-categoria">Cámaras</p>
            </article>
            <article>
                <img src="images/juegos/juego-10.jpg" alt="juego-10">
                <p class="nombre-categoria">Juegos</p>
            </article>
            <article>
                <img src="images/relojes/reloj-1.jpg" alt="reloj-1">
                <p class="nombre-categoria">Relojes</p>
            </article>
            <article>
                <img src="images/telefonos/telefono-1.jpg" alt="telefono-1">
                <p class="nombre-categoria">Teléfonos</p>
            </article>
            <article>
                <img src="images/tocadiscos/tocadiscos-1.jpg" alt="tocadiscos-1">
                <p class="nombre-categoria">Tocadiscos</p>
            </article>
            <article>
                <img src="images/vinilos/disco-5.jpg" alt="disco-5">
                <p class="nombre-categoria">Vinilos</p>
            </article>
        </div>


    </main>

    <footer>
        <div class="categorias">
            <h3>Categorías</h3>
            <li><a href="#">Cámaras</a></li>
            <li><a href="#">Juegos</a></li>
            <li><a href='#'>Relojes</a></li>
            <li><a href="#">Teléfonos</a></li>
            <li><a href="#">Tocadiscos</a></li>
            <li><a href="#">Vinilos</a></li>
        </div>

    <div class="contacto">
    <h3>Contacto</h3>
    <div><i class="fa-solid fa-envelope"></i><span>grupo4@gmail.com</span></div>
    <div><i class="fa-brands fa-whatsapp"></i><span>11-1234-5678</span></div>
    <div><i class="fa-solid fa-location-dot"></i><span>Nuestra calle 1234, 1111 CABA</span></div>
    </div>
    
    <div class="redes-sociales">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    </div>

    </footer>
</body>

</html>