<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
   

    <script src="https://kit.fontawesome.com/0625f444d8.js" crossorigin="anonymous"></script>

    <link href="/css/colors.css", rel="stylesheet">
    <link href="/css/normalize.css", rel="stylesheet">
    <!--link href="/css/header.css", rel="stylesheet"-->
    <!--link href="/css/footer.css", rel="stylesheet"-->
    <link href="/css/detalleProducto.css", rel="stylesheet">

    
    <title>Detalle del producto JOPO</title>
    <link rel="icon" href="/images/icono/favicon.ico">
    

<body>

    <header>
        <div class="header">

            <div class="bars-menu">

                <button><a href="#"><i class="fas fa-bars"></i></a></button>

            </div>

            <div class="logo">    
                <a href="/"><img src="./images/logo/isologo.png" alt="Logo"></a>
            </div>
             
            <div class="iconos">

                <button class="cart-shopping">
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </button>

                <button class="icono-user">
                    <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
                </button>

            </div>
        
            <div class="search-bar">

                <form method="post" action="/buscar-producto">
                    
                    <input type="text" placeholder="¿Qué estás buscando?">

                    <button><i class="fa-solid fa-magnifying-glass"></i></button>

                </form>
            </div> 

        </div> 

        <nav class="nav-bar">
            <ul>
                <li><a href="#">MUEBLES</a></li>
                <li><a href="#">ILUMINACIÓN</a></li>
                <li><a href='#'>OBJETO</a></li>
                <li><a href="#">JUEGOS</a></li>
                <li><a href="#">ROPA</a></li>
            </ul>
        </nav>
    </div>
    </header>

    <main>

        <article class="article-producto">

            <div class="div-img-producto">
                <img src="../images/telefonos/telefono-10.jpg" alt="telefono-10">
            </div>

            <div class="div-datos-producto">

                <p class="p-nombre-producto">TELÉFONO AÑOS 80 MARCA ENTEL</p>

                <p class="p-precio">$2500</p>

                <div class="div-formas-pago">

                    <i class="fa-solid fa-credit-card"></i>
                    <p class="p-formas-pago">6 cuotas sin interés de $416.66></p>

                </div>

                <div class="div-comprar">
                    <form class="form-comprar" method="post" action="/agregarAlCarrito">
                        <i class="fa-solid fa-plus"></i>

                        <input type="number" name="cantidad">

                        <i class="fa-solid fa-minus"></i>

                        <button class="button-agregar-al-carrito" type="submit">AGREGAR AL CARRITO</button>
                    </form>
                </div>

                <div class="div-costo-envio">
                    <form class="form-costo-envio" method="post" action="/clacularCostoEnvio">

                        <p class="p-texto-costo-envio">CALCULAR EL COSTO DEL ENVIO</p>

                        <input type="number" maxlength="4" placeholder="1234">

                        <button type="submit">CALCULAR</button>

                    </form>
                </div>

                <div class="div-detalle-del-producto">

                    <p>Telefono antiguo marca Entel con botonera, en perfecto estado de conservación y funcionamiento.</p>

                    <p>Industria Argentina.</p> 
                        
                    <p>Cable para empalmar con cable y ficha actual.</p>

                </div>
            </div> 
        </article>
    
    </main>

    <footer>

        <div class="categorias">

            <h3>Categorías</h3>

            <ul>

                <li><a href="#">Muebles</a></li>
                <li><a href="#">Iluminación</a></li>
                <li><a href='#'>Objeto</a></li>
                <li><a href="#">Juegos</a></li>
                <li><a href="#">Ropa</a></li>

            </ul>

        </div>

        <div class="contacto">

            <h3>Contacto</h3>

            <div>
                <i class="fa-solid fa-envelope"></i>
                <span>grupo4@gmail.com</span>
            </div>

            <div>
                <i class="fa-brands fa-whatsapp"></i>
                <span>11-1234-5678</span>
            </div>

            <div>
                <i class="fa-solid fa-location-dot"></i>
                <span>Nuestra calle 1234, 1111 CABA</span>
            </div>

        </div>
        
        <div class="redes-sociales">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>

    </footer>
    
    
</body>
</html>