/* -------------------------------------------------------------------------------------*/
/* -------------------  CSS HEADERPARA FUNCIONES DE ADMIN PARA TODOS LOS FORMATOS DE PANTALLA -------*/
/* -------------------------------------------------------------------------------------*/

/* --------------------------  general  -----------------------------------------------*/

* {  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: var(--gris-claro);
    background-image: url('../images/logo/isologo-blanco.png');
    background-size: 5%;
    background-repeat: repeat; 
    color: var(--gris-medio2);
}

/* -----------------------------  header  -----------------------------------------------*/

header{
    background-color: transparent;
    width: 100%; 
}

.header{
    margin: auto;
    padding: 20px 0 0px 20px;
    display: flex;
    justify-content: space-between;
}

.logo a {
    width: 20%;
    display: block;
    margin: 0;

}
.logo a img{
    width: 100%;   
}

.div-bars-menu {
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 0 10px 10px;
}

.div-bars-menu a {
    display: block;
}

.div-bars-menu button {
    background-color: transparent;
    border: none;
}

.i-bars-menu {
    color: var(--negro);
    font-size: 40px;
}

/* Desplegable Usuario Web */

.nav-profile {
    display: none;
    align-items: center;
}

.user-img {
    padding-right: 10px;
}

.user-img img {
    border-radius: 100%;
    border: 1px var(--gris-medio2) solid;
    width: 40px;
    height: 40px;

}

.nav-user {
    width: 100%;
}

.nav-user ul li {
    list-style: none;
    text-decoration: none;
}

.user-name {
    justify-items: center;
}
.user-name .name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 550;
}

.nav-user ul li a {
    text-decoration: none;
    display: flex;
    width: 100%;
    padding-right: 20px;
    text-transform: uppercase;
}

.user-name i {
    margin-left: 10px;
    color: rgb(141, 102, 72);
}

.user-name ul {
    align-items: center;
}

.nav-options-user {
    display: none;
    position: absolute;
    background-color: var(--gris-muy-claro);
    padding: 10px;
    text-align: left;
    margin-top: 0;
    z-index: 1;
}

.nav-options-user li {
    margin-bottom: 10px;
}
.adminAccess {
    font-weight: bold;
    
}
.nav-options-user a {
    padding: 5px 0px;
}

.nav-options-user a:hover {
    background-color: rgb(237, 234, 234);
}

.user-name {
    padding: 0px;
}

.user-name:hover .nav-options-user {
    display: block;
}

.nav-options-user a {
    color: var(--gris-medio2);
    width: 100%;
}



@media (min-width:480px) {
    .logo a {
        width: 10%;
    }
    
}  

@media (min-width:769px) {
    .logo a {
        width: 6%;
    }

    .div-bars-menu {
        padding: 0;
        display: none;
    } 
    
    .nav-profile {
        display: flex;
        align-content: center;
        width: 20%;
    }

       
}
    