/*Login*/
.inicio{
    font-size: 40px;
    text-align: center;
    
}

main{
    background-color: var(--blanco);
    color: var(--gris-oscuro);
    display: flex;
    background-image: url('../images/portadas/portada-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario{
    text-align: center;
    font-weight: bold;
}

.form-control{
    padding-top: 10px;
    padding-bottom: 30px;
    display: block;
    
}

.input-login{
    width: 100%;
    border-radius: 10px;
    height: 25px;
}


.a-password{
    margin-top: 10px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.button-inicio{
    
    width: 60%;
    height: 35px;
    border-radius: 3px;
    background-color: var(--amarillo);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border:none;
    letter-spacing: 1px;
}

.form-final-login {
    text-align: center;
}

.form-final-login a{
    text-decoration: none;
    font-size: 14px;
}

a{
    color: var(--naranja);
}

p{
    font-size: 12px;
}

main form{
    padding: 25px;
    background-color: white;
    opacity: 0.8;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px var(--amarillo);
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;    
}

label {
    font-size: 15px;;
}

@media (min-width:700px){
    .form-control{
    width: 100%;
    }

    .form-control label{
        font-size: 18px;
    }

    .button-inicio{
        font-size: 16px;
    }

    .form-final-login{
        font-size: 18px;
    }

    .form-final-login a{
        font-size: 16px;
    }

    .a-password{
        font-size: 16px;
    }

    main form{
        padding: 20px 30px;
        width: 45%;
    }

    p{
        font-size: 16px;
    }
}
