/*main*/

main{
    color: var(--gris-oscuro);
    margin: 20px;    
}

h1 {
    padding: 0;
    text-align: center;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}
main form{
    padding: 20px 20px 5px;
    background-color: white;
    width: 90%;
    margin: auto;
}

.form-producto {
   text-align: left;
   font-weight: bold;
   opacity: 90%;
}

label{
    font-size: 14px;
    margin-bottom: 10px;
}

.div-datos-producto {
    margin-top: 15px;
}

.div-datos-producto input,
.div-datos-producto select {
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: 1px var(--gris-claro) solid;
}

.div-datos-producto #description {
    /* border-radius: 5px;
    width: 100%; */
    height: 60px;
    /* border: 1px var(--gris-claro) solid;
    color: var(--gris-medio2); */
}


.div-datos-producto .input-archivo {
    padding: 3px;
}

.nombre-imagen {
    font-weight: normal;
    border: none;
    margin: 0;
    padding: 0;

}

.div-destacado {
    margin: 20px 0 10px;
}

.div-destacado input {
    margin: 15px 0 0 10px;
    width: 15px;
}

.div-botones {
    margin: 0;
    display: flex;
    justify-content: center;
}

.div-botones button {
    text-align: center;
    background-color: var(--amarillo);
    color: white;
    border:none;
    border-radius: 5px;
    width: 45%;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px;
}

@media (min-width:480px) {

    .div-botones button {
        width: 30%;
        margin: 30px;
    }
}


@media (min-width:769px) {

    main{
        margin-top: -15px;
    }
    
    h1 {
        padding: 0 20% 20px;
        text-align: left;
    }
    main form{
        width: 60%;
    }

    .div-botones button {
        width: 20%;
        margin: 30px;
    }

    
}

