/*registro*/
main{
    background-color: var(--blanco);
    color: var(--gris-oscuro);
    display: flex;
    opacity: 0-9;
    background-image: url('../images/camaras/camara-0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


main form{
    padding: 20px;
    background-color: white;
    opacity: 0.9;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px var(--amarillo);
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-registro{
   text-align: left;
   font-weight: bold;
}

.form-registro p{
    color: red;
    font-weight: bold;
    font-size: 14px;
    border: none;
    width: 100%;
    margin: 0 0 5px;
}

.form-control-registro input{
    border-radius: 10px;
    width: 100%;
    height: 25px;
}

.form-control-registro{
    padding: 10px 0px;
    position: relative;
}

 .fa-circle-check{
    position: absolute;
    color: green;
    top:33px;
    right: 5px;
   display: none;
}

.fa-circle-xmark{
    position: absolute;
    color: red;
    top:33px;
    right: 5px;
   display: none;
}

.check ~ .fa-circle-check{
    display: block;
}

.wrong ~ .fa-circle-xmark{
    display: block;
}

.form-control-registro input:focus{
    border-color: var(--amarillo);
}


.form-control-birtday{
    margin-left: 10px;
}

.create-account{
    border-radius: 3px;
    width: 70%;
    height: 35px;
    background-color: var(--marron);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border:none;
    letter-spacing: 1px;
}

.form-final-registro{
    margin: 40px 0px 0px 0px;
    text-align: center;

}

.delete-button{
    margin-left: 10px;
    background-color: var(--marron);
    color: white;
    border:none;
}

button {
    font-size: 14px;
}

a{
    color: var(--verde);
    text-decoration: none;
}

label{
    font-size: 14px;
}

p{
    font-size: 12px;
}

.fa-circle-xmark{
    position: absolute;
    top:33px;
    right: 5px;
    color: red;
    display: none;
}

.invalid-password-msg{

    color:red;
}

.sure{
    background-color: gray;
    position: absolute;
    width: 40%;
    height: 100px;
    top: 91%;
    right: 320px;
    border-radius: 20px;
    display: none;
}

.sure p{
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 17px;
}

.accept{
    margin-right: 10px;
    font-weight: bold;
    background-color: green;
}

.cancel{
    margin-left: 10px;
    font-weight: bold;
    background-color: red;
}


@media (min-width:700px){
    .form-control-registro{
        width:100%;
    }

    .create-account{
        font-size: 16px;
    }

    label, p {
        font-size: 16px;
    }

    button{
        font-size: 16px;
    }

    main form{
        padding: 20px 60px;
        width: 45%;
    }

    p{
        font-size: 14px;
    }
}
