

/* -----------------------------  header  -----------------------------------------------*/


/* Main */

main .portada {
    width: 100vw;
    display:flex;
    position: relative;
}

main .portada img{
    width: 100%;
}


main .text {
    background-color: white;
    color: #4b200d;
    padding: 50px 0px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}


main .categorias-home{
    margin-top: 60px;
    margin-bottom: 60px;
}

.categorias-home article {
    padding: 0px 15px;
    margin: 10px 5px;
    position: relative;
}

.categorias-home article img {
    width: 100%;
}
 .nombre-categoria {
    color: rgb(50, 49, 49);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-stretch: expanded;
    text-align: center;
    padding: 10%;
} 

.categorias-home a{
  text-decoration: none;
} 

.destacados {
    width: 100vw;
    padding: 20px 10px;
    background-color: #f0edec;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 70px;
}

.destacados article{
    text-align: center;
}

.destacados article img {
    width: 90%;
}

.destacados button a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.product-description {
    text-align: center;
    margin-bottom: 3px;
}

.destacados .price {
    font-size: 16px;
    font-weight: bold;
}

.destacados .discount {
    font-size: 14px;
}

.destacados button {
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: #4b200d;
    padding: 10px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.destacados-ocultos{
    display: none;
}

/* -----------------------------  footer  -----------------------------------------------*/


@media (min-width:361px) {
    /* ------------------------------   main ----------------------------------------------*/
    .categorias-home{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .categorias-home article{
    width: 48%;
    }
}

@media (min-width:769px) {
/* ------------------------------   header ----------------------------------------------*/

/* Main */

 .destacados-ocultos {
    display: inline;
}

.categorias-home{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.categorias-home article{
    width: 30%;
}


/* -----------------------------  footer  -----------------------------------------------*/
footer{
    display: flex;
    justify-content: space-between;
}

.categorias,
.contacto,
.redes-sociales {
    padding: 20px 10px;
    width: 30%;
}

}