/* -----------------------------  header  -----------------------------------------------*/
header{
    position: fixed;
    top: 0;
    left: 0; 
}


/* -----------------------------  main  -----------------------------------------------*/

main {
    margin: 219px 0 0 0;
    width: 100%;
    background-color: var(--gris-claro);
    text-align: center;
    padding: 20px;
}

.article-producto {
    box-shadow: 2px 2px 10px var(--gris-oscuro);
    background-color: var(--blanco);
    }

.div-img-producto {
    width: 100%;
    margin: auto;
}

.div-img-producto img {
    width: 100%;
}  

.div-datos-producto {
    padding: 15px;
    border-top: 1px solid var(--gris-medio);
    text-align: left;
}

.h4-nombre-producto {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.p-precio {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.div-formas-pago {
    display: flex;
    margin: 0 0 20px;
}

.i-tarjeta,
.i-camion {
    margin-right: 10px;
}

.p-formas-pago {
    margin: 0;
}

.p-formas-pago strong,
.free-shipping strong {
    color: var(--naranja);
}

.div-comprar {
    text-align: center;
    padding: 10px 0;
    height: 40px;
    box-sizing:content-box;
}

.button-agregar-al-carrito {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background-color: var(--amarillo);
    color: var(--blanco);
    border: none;
    border-radius:5px;
    padding: 10px;
}

.free-shipping {
    display: flex;
    margin: 20px 0;
}

.div-costo-envio {
    margin: 25px 0;
}

.form-costo-envio {
    display: flex;
    flex-wrap: wrap;
    color: var(--gris-oscuro);
    text-align: center;
    font-size: 12px;
    border: 1px var(--gris-medio) solid;

}

.p-texto-costo-envio {
    width: 100%;
    padding: 5px;
    margin: 0;
}

.form-costo-envio input {
    width: 50%;
    color: var(--gris-claro);
    padding: 5px;
    border:1px var(--gris-medio) solid;
}

.form-costo-envio button {
    width: 50%;
    background-color: transparent;
    border: 1px var(--gris-medio) solid;
    padding: 5px;
}

.div-descripcion-producto {
    font-size: 18px;
    color: var(--gris-oscuro);
    margin-top: 30px;
}



/* -------------------------------------------------------------------------------------*/
/* ------------------------------   LAPTOP  ----------------------------------------------*/
/* -------------------------------------------------------------------------------------*/

@media (min-width:769px){

/* ------------------------------   main  ----------------------------------------------*/
    main {
        margin: 208px 0 0 0;
    }

    .article-producto {
        display: flex;
        justify-content: space between;
    }

    .div-img-producto {
        width: 60%;
        padding: 40px;
    }

    .div-datos-producto {
        width: 40%;
        border: none;
        padding: 40px;
    }


}
/* -------------------------------------------------------------------------------------*/
/* ------------------------------   PANTALLA ANCHA  ----------------------------------------------*/
/* -------------------------------------------------------------------------------------*/


/* @media (min-width: 1200px) {
    body {
        max-width: 1200px;
    }
} */
