* {  
    box-sizing: border-box;
    font-family: Arial;
}


/* prueba header */
body {
    width: 100vw; /*MB*/
    margin: 0;
    text-align: center;
}

header{
    background-color: white;
    width: 100%;  /*MB*/
    /* border: 1px red solid; */
}

.header{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px green solid; */
}

.logo {
    width: 50%;
    text-align: center;
}

.logo img{
    /*height: 25vh;*/
    width: 100px;   /*MB*/
}

.bars-menu, .iconos {
    width: 25%;
    margin: auto;
}

.iconos {
    text-align: right;
}

.bars-menu {
    text-align: left;
}

/* .bars-menu a, .iconos a {
    text-align: center;
} */

.bars-menu i, .cart-shopping i, .icono-user i {
    font-size: 30px;
}

.bars-menu button, .iconos button{
    background-color: transparent;
    border: none;
}

.bars-menu button a, .iconos button a{
    color:var(--marron);
}

/*button{
    color: var(--marron);
}*/

.search-bar{
    text-align: center;
    margin: 30px 0 20px;
    /*align-self: flex-end;
     position: absolute; */
    width: 80%;
}

.search-bar input{
    width: 90%;
    height: 4vh;
    border: 1px var(--gris-medio) solid;
    border-radius: 5px;
}

.search-bar button{
    font-size: 20px;
    /*position: absolute;
    right: 0px;*/
    background-color: transparent;
    border: none;
  
}

.nav-bar{
    display: none;
}

.icono-user{
    display: none;
} 

@media (min-width:769px){
    .bars-menu{
        display: none;
    }

    .icono-user{
        display: block;
    }

    .search-bar{
        position: relative;
        top:-60px;
        width: 45%;
    }

    .iconos{
        display: flex;
        margin-top: 30px;
        font-size: 40px;
        order:1;
    }

    .iconos a{
       color: var(--marron);
    }

    .header .cart-shopping{
        margin: 0px 10px 0px 0px;
    }

    .nav-bar{
        display: block;
        border: solid 2px var(--marron);
        margin-top: 20px;
    }
    .nav-bar ul{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-bar li {
        list-style: none;
        
    }
    
    .nav-bar li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
        box-shadow: none;
        transition: all 1000ms;
    }

    .nav-bar li a:hover{
        font-size: 30px;
        color:var(--verde);
        box-shadow: var(--gris-medio);
    }
}


/* fin prueba header */
/*---------------------------------------------------
/* main */

main {
    margin: 0;
    width: 100%;
    background-color: var(--gris-claro);
    text-align: center;
    padding: 15px;
}

.article-producto {
    /* box-shadow: ; */
}

.div-img-producto {
    width: 80%;
    margin: auto;
}

.div-img-producto img {
    width: 100%;
}  

.div-datos-producto {
    width: 80%;
    margin: auto;
}

/*---------------------------------------------------------
/* Prueba footer con ul */
footer {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 20px;
    margin-top: 15px;
}

.categorias {
    margin: 10px 0;
    
}

.categorias h3 {
    margin: 10px 0;
    font-size: 14px;
}

.categorias ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categorias li {
    margin: 0 0 5px;
    font-size: 12px;
}

.categorias ul a {
    text-decoration: none;
    color: white;
}

.categorias ul a:hover {
    color: var(--naranja);
    font-size: 14px;
    transform: all 0.5s;
}

.contacto {
    margin: 20px 0;
}

.contacto h3 {
    margin: 10px 0;
    font-size: 14px;
}

.contacto div {
    margin: 0 0 5px;
    font-size: 12px;
}

.redes-sociales {
    padding: 25px 0 0 0;
    text-align: center;
}

.redes-sociales i {
    padding: 0 5px;
}

@media (min-width:769px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .categorias, .contacto{
        padding: 20px 50px;
    }

    .redes-sociales{
        padding: 50px;
    }
}

/* fin prueba footer *?