footer {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 20px;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
}

footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

footer ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;
}

footer li {
    margin: 0 0 15px; 
    display: flex;
}

footer li i{
    margin-right: 10px;
}

footer ul a {
    text-decoration: none;
    color: white;
}

.redes-sociales a {
    font-size: 30px;
    color: var(--blanco);
}

.i-fb,
.i-ig {
    margin-top: 15px;
}

.i-ig {
    margin-left: 15px;
}

@media (min-width:769px){
footer{
    display: flex;
    justify-content: space-between;
}

.categorias,
.contacto,
.redes-sociales {
    padding: 20px 50px;
    width: 25%;
}

}