*{  
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

header{
    background-color: white;
    
}

.cabecera .bars-menu, .cabecera .cart-shopping{
    margin: 60px 0px 0px 0px;
    
}

.cabecera .bars-menu i, .cart-shopping i, .icono-user i {
    font-size: 40px;
}

.bars-menu button, .iconos button{
    background-color: transparent;
    border: none;
}

.bars-menu button a, .iconos button a{
    color:#4B200D;
}

button{
    color: #4B200D;
}
.cabecera{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
}

.cabecera img{
    height: 25vh;
    padding: 20px 0px 0px 0px;
}

.search-bar{
    position: relative;
    text-align: center;
    margin: 40px 10px 0px 10px;
    
}

.search-bar input{
    width: 100%;
    height: 5vh;
}

.search-bar button{
    font-size: 22px;
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
}

.cabecera-min769px{
    display: none;
}

.nav-bar{
    display: none;
}

@media (min-width:769px){
    .cabecera{
        display: none;
    }

    .search-bar{
        display: none;
    }

    .cabecera-min769px{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cabecera-min769px img{
        height: 25vh;
    }

    .search-bar-min789px{
        position: relative;
    }

    .search-bar-min789px input{
        margin-top: 35px;
        height: 5vh;
        width: 40vw;
    }

    .search-bar-min789px button{
        position: absolute;
        font-size: 22px;
        top: 35px;
        right: 0px;
        background-color: transparent;
        border: none;
    }

    .iconos{
        margin-top: 30px;
        font-size: 40px;
    }

    .iconos a{
       color: #4B200D;
    }

    .cart-shopping{
        margin-right: 10px;
    }
    .nav-bar{
        display: block;
        border: solid 2px #4B200D;
        margin-top: 20px;
    }
    .nav-bar ul{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-bar li {
        list-style: none;
        
    }
    
    .nav-bar li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
        box-shadow: none;
        transition: all 1000ms;
    }

    .nav-bar li a:hover{
        font-size: 30px;
        color:#B09900;
        box-shadow: #807e7e;
    }
}