/*Login*/
.inicio{
    font-size: 40px;
    text-align: center;
    
}

main{
    background-color: var(--blanco);
    color: var(--gris-oscuro);
}

.formulario{
    padding-top: 60px;
    text-align: left;
    font-weight: bold;
}

.form-control{
    margin:0px 10px;
    padding: 50px 0px;
    display: block;
    position: relative;
    
}

.input-login{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0px;
}

.a-password{
    margin-top: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.button-inicio{
    
    width: 70vw;
    height: 35px;
    border-radius: 15px;
    background-color: var(--amarillo);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border:none;
}

.form-final-login {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}
.form-final-login a{
    text-decoration: none;
}

a{
    color: var(--naranja);
}

.form-final-login .enlace-registro{
    padding-bottom: 100px;
}

@media (min-width:769px){
    .form-control{
    width: 60%;
    }

    .form-control label{
        font-size: 20px;
    }
}
