*{  
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

header{
    background-color: white;
    
}

.cabecera .bars-menu, .cabecera .cart-shopping{
    margin: 60px 0px 0px 0px;
    
}

.cabecera .bars-menu i, .cart-shopping i, .icono-user i {
    font-size: 40px;
}

.bars-menu button, .iconos button{
    background-color: transparent;
    border: none;
}

.bars-menu button a, .iconos button a{
    color:#4B200D;
}

button{
    color: #4B200D;
}
.cabecera{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
}

.cabecera img{
    height: 25vh;
    padding: 20px 0px 0px 0px;
}

.search-bar{
    text-align: center;
    margin: 40px 10px 30px 10px;
}

.search-bar input{
    width: 80%;
    height: 5vh;
}

.search-bar button{
    font-size: 22px;
    position: relative;
    left: -40px;
    top: 2px;
    background-color: transparent;
    border: none;
}

.cabecera-min769px{
    display: none;
}

.nav-bar{
    display: none;
}

@media (min-width:769px){
    .cabecera{
        display: none;
    }

    .search-bar{
        display: none;
    }
    .cabecera-min769px{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cabecera-min769px img{
        height: 25vh;
    }

    .search-bar-min789px{
        position: relative;
    }

    .search-bar-min789px input{
        margin-top: 35px;
        height: 5vh;
        width: 40vw;
    }

    .search-bar-min789px button{
        position: absolute;
        font-size: 22px;
        top: 35px;
        right: 0px;
        background-color: transparent;
        border: none;
    }

    .iconos{
        margin-top: 30px;
        font-size: 40px;
    }

    .iconos a{
       color: #4B200D;
    }

    .cart-shopping{
        margin-right: 10px;
    }
    .nav-bar{
        display: block;
        border: solid 2px #4B200D;
        margin-top: 20px;
    }
    .nav-bar ul{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-bar li {
        list-style: none;
        
    }
    
    .nav-bar li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        
    }
  
}

/*registro*/
main{
    background-color: #ebebeb;
}

h1{
    font-size: 30px;
    text-align: center;
}

.form-control-registro input{
    border-radius: 10px;
    width: 100%;
    height: 30px;
    margin: 10px 0px;
}

.form-control-registro{
    padding: 20px 0px;
    margin-left: 10px;
    position: relative;
}

.form-control-registro i{
    position: absolute;
    color: green;
    top:55px;
    right: 10px;
}

.form-control-registro input:invalid ~ i{
    display: none;
}

.form-control-registro input:invalid {
    color:red;
}

.form-control-registro input:valid ~ i {
    display: inline;
}

.form-control-birtday{
    margin-left: 10px;
}

.create-account{
    border-radius: 15px;
    width: 80%;
    height: 30px;
    background-color: #4B200D;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.form-final-registro{
    margin: 100px 0px 0px 0px;
    text-align: center;
    padding-bottom: 50px;
}

.delete-button{
    margin: 20px 0px 0px 10px;
}

@media (min-width:769px){
    .form-control-registro{
        width:60%;
    }
}

/*Footer*/

footer{
    background-color: #B09900;
    color: white;
}

.categorias h3{
    margin-bottom: 10px;
    margin-top: 30px;
}

.categorias{
    padding: 20px 0px 10px 20px;
}

.contacto{
    padding-left: 20px;
}

h3{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.categorias li  {
    font-size: 18px;
    margin: 0px 0px 5px 20px;
    display: block;
}

.categorias li a{
    text-decoration: none;
    color:white;
    
}

.categorias li a:hover {
    color:blue;
}

.contacto h3{
    margin: 30px 0px 0px 10px;
}

.contacto div{
    margin: 10px 0px 10px 20px;
}

.redes-sociales{
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-whatsapp{
    color: white;
    margin-right: 10px;
}

.fa-location-dot, .fa-envelope{
    margin-right: 10px;
    color:white;
}

.fa-instagram{
    color: white;
    margin: 10px;
}

.fa-facebook{
    color: white;
    margin: 10px;
}

@media (min-width:769px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .categorias, .contacto{
        padding: 20px 50px;
    }

    .redes-sociales{
        padding: 50px;
    }
}   