<footer>

    <div class="categorias">

        <h3>Categorías</h3>

        <ul>

            <li><a href="#">CÁMARAS</a></li>
            <li><a href="#">TELEVISORES</a></li>
            <li><a href='#'>VINILOS</a></li>
            <li><a href="#">TOCADISCOS</a></li>
            <li><a href="#">RADIOS</a></li>
            <li><a href="#">TELÉFONOS</a></li>

        </ul>

    </div>

    <div class="contacto">

        <h3>Contacto</h3>

        <ul>

            <li>
                <i class="fa-solid fa-envelope"></i>
                <span>grupo4@gmail.com</span>
            </li>

            <li>
                <i class="fa-brands fa-whatsapp"></i>
                <span>11-1234-5678</span>
            </li>

            <li>
                 <i class="fa-solid fa-location-dot"></i>
                <span>Nuestra calle 1234, 1111 CABA</span>
            </li>

        </ul>
        
    </div>
    
    <div class="redes-sociales">

        <h3>Sigamos conectados</h3>

        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook i-fb"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram i-ig"></i></a>
    </div>

    <a href="https://wa.me/5491160021531" target="_blank" aria-label="Comunicate por WhatsApp"><i class="fa-brands fa-whatsapp-square i-wa"></i></a>

</footer>
