<header>
    <div class="header">

        <div class="logo">    
            <a href="/"><img src="../images/logo/isologo-negro.png" alt="Logo"></a>
        </div>

        <div class="div-bars-menu">           
            <button><a href="#"><i class="fas fa-bars i-bars-menu"></i></a></button>
        </div>
        
    </div> 

</header>
