<header>
    <div class="header">

        <div class="bars-menu">

            <button><a href="#"><i class="fas fa-bars"></i></a></button>


        </div>

        <div class="logo">    
            <a href="/"><img src="/images/logo/isologo-marron.png" alt="Logo"></a>
        </div>
         
        <div class="iconos">

            <button class="cart-shopping">
                <a href="/products/shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </button>

            <button class="icono-user">
                <a href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
            </button>

        </div>
    
        <div class="search-bar">

            <form method="post" action="/products/search">
                
                <input type="text" name="keyWords" placeholder="¿Qué estás buscando?">

                <button type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>

            </form>
        </div> 

    </div> 

    <nav class="nav-bar">
        <ul>
            <% categories.forEach (category => { %> 
                <li><a href="/products/productsList/?category=<%= category.id %>"><%= (category.label).toUpperCase() %></a></li>
            <% }) %>        
    </ul>

    </nav>

</header>
