<!DOCTYPE html>
<html>
        <%- include ('../partials/headAdmin.ejs') %>
    
        <link href="/css/productAdmin.css", rel="stylesheet">
        
    
    </head>

    <body>

        <%- include ('../partials/headerAdmin.ejs') %>

        <main>
            <h1>Nuevo producto</h1>

            <form action="/createProduct" method="POST" class="form-producto">

                <%- include ('../partials/productFormData.ejs')  %>              
                                               
                <%- include ('../partials/productFormButtons.ejs')  %>

            </form>
        </main>
        
    
    </body>
    </html>


 