<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://kit.fontawesome.com/f5adc79cf2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/carrito.css">

    <title>Carrito JOPO</title>
    <link rel="icon" href="/images/logo/isologo.png">
</head>

<body>
    <header>
        <div class="header">

            <div class="bars-menu">

                <button><a href="#"><i class="fas fa-bars"></i></a></button>


            </div>

            <div class="logo">
                <a href="/"><img src="./images/logo/isologo.png" alt="Logo"></a>
            </div>

            <div class="iconos">

                <button class="cart-shopping">
                    <a href="/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a>
                </button>

                <button class="icono-user">
                    <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
                </button>

            </div>

            <div class="search-bar">

                <form method="post" action="/buscar-producto">

                    <input type="text" placeholder="¿Qué estás buscando?">

                    <button><i class="fa-solid fa-magnifying-glass"></i></button>

                </form>
            </div>

        </div>

        <nav class="nav-bar">
            <ul>
                <li><a href="#">CÁMARAS</a></li>
                <li><a href="#">JUEGOS</a></li>
                <li><a href='#'>RELOJES</a></li>
                <li><a href="#">TELÉFONOS</a></li>
                <li><a href="#">TOCADISCOS</a></li>
                <li><a href="#">VINILOS</a></li>
            </ul>
        </nav>

    </header>

    <!-- Main -->
    <main>
        <section class="products">
            <article>
                <div class="product">
                    <img src="./images/telefonos/telefono-5.jpg" alt="telefono-5">
                    <p>Teléfono antiguo/ Porcelana</p>
                    <button><i class="fa-solid fa-trash-can"></i></button>
                </div>
                <h4 class="price">$6.000,00</h4>
            </article>

            <article>
                <div class="product">
                    <img src="./images/vinilos/disco-5.jpg" alt="vinilo-5">
                    <p>Changes Two/ Bowie</p>
                    <button><i class="fa-solid fa-trash-can"></i></button>
                </div>
                <h4 class="price">$3.500,00</h4>
            </article>

            <div class="subtotal">
                <p>Subtotal (sin envío):</p>
                <h3>$9.500,00</h3>
            </div>
        </section>

        <section class="shipping">
            <div class="free-shipping">
                <button><i class="fa-solid fa-truck"></i></button>
                <h6>Envío gratis</h6>
                <p>superando los $15.000,00</p>
            </div>
            <form action="" method="">
                <div class="shipping-cost">
                    <input type="number" name="postal-code" placeholder="Tu código postal">
                    <button type="submit">Calcular</button>
                </div>
            </form>

            <div class="searh-postal-code">
                <a href="https://www.correoargentino.com.ar/formularios/cpa">No sé mi código postal</a>
            </div>

            <div class="div-formas-pago">

                <i class="fa-solid fa-credit-card i-tarjeta"></i>
                <span><strong>6 cuotas sin interés</strong> de $1583.33</span>

            </div>

            <div class="total">
                <h2>Total:</h2>
                <h2>$9.500,00</h2>
            </div>

            <div  class="start-the-buy">
                <button>Iniciar Compra</button>
            </div>

            <div class="more-products">
                <a href="/">Ver más productos</a>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>

        <div class="categorias">

            <h3>Categorías</h3>

            <ul>

                <li><a href="#">CÁMARAS</a></li>
                <li><a href="#">JUEGOS</a></li>
                <li><a href='#'>RELOJES</a></li>
                <li><a href="#">TELÉFONOS</a></li>
                <li><a href="#">TOCADISCOS</a></li>
                <li><a href="#">VINILOS</a></li>

            </ul>

        </div>

        <div class="contacto">

            <h3>Contacto</h3>

            <ul>

                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <span>grupo4@gmail.com</span>
                </li>

                <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    <span>11-1234-5678</span>
                </li>

                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Nuestra calle 1234, 1111 CABA</span>
                </li>

            </ul>

        </div>

        <div class="redes-sociales">

            <h3>Sigamos conectados</h3>

            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook i-fb"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram i-ig"></i></a>
        </div>

        <i class="fa-brands fa-whatsapp-square i-wa"></i>

    </footer>

</body>

</html>