<!DOCTYPE html>
<html>
        <%- include('../partials/head.ejs') %>
        <link href="/css/registro.css", rel="stylesheet">
    
        
        
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <form action="/users/update/profile/<%= user.id %>?_method=PUT" method="post" class="form-registro" >
                
                <div class="form-control-registro">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
    
                <button type="reset" class="delete-button">BORRAR</button>
               
                <div class="form-final-registro">
                <button type="submit" class="create-account">MODIFICAR CONTRASEÑA</button>
                
                </div>
            </form>

        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
    </html>
